.comment {
    border-top:dotted 1px #ddd;
    font-size:0.8em;
}

.slogan-custom {
    font-size:1rem;
    font-weight:600;
}

.navbar-custom {
    background-color: #ddebf1;
}

.listbar-custom {
    background-color: #f5f9fb;
}
